{
  "API": "",
  "CaseCode": true,
  "Dependencies": [
    {
      "Inject": 1,
      "URL": "https://github.com/JoshDavid/KokoStats",
      "Version": "0.0.3"
    }
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.TamStat",
  "StartUp": "",
  "URL": "https://github.com/steveman7/TamStatCore",
  "Version": "1.0.0"
}
