{
  "API": "",
  "CaseCode": true,
  "Dependencies": [
	{
		"URL":"https://github.com/JoshDavid/KokoStats",
		"Version":"0.0.0",
		"Inject":1 
	}

  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": false,
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.TamStat",
  "StartUp": "",
  "URL": "https://github.com/steveman7/TamStatCore",
  "Version": "0.0.0"
}
